{
  NSExecutable = "GnomeTheme";
  NSPrincipalClass = "GGnomeTheme";
  GSThemeAuthors = (
	"Hans Baier",
	"Gregory John Casamento",
  );
  GSThemeDetails = "Gtk+ native theme";
  GSThemeIcon = gtk+.png;     
  GSThemePreview = gtk+.png;
  GSThemeDomain = {
  	NSScrollViewInterfaceStyle = NSWindows95InterfaceStyle;
  	NSScrollerInterfaceStyle = NSWindows95InterfaceStyle;
	NSMenuInterfaceStyle = NSWindows95InterfaceStyle;
	GSSuppressAppIcon = YES;
  };
}
